<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
      <h4 class="company_title">Your Company Logo</h4>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
      <div class="container-fluid">
        <div class="row">
          <h2>Log In</h2>
        </div>
        <div class="row">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__input", placeholder: "Enter email" %>
            </div>
            <div class="row">
              <%= f.password_field :password, autocomplete: "current-password", class: "form__input", placeholder: "Enter password" %>
            </div>
            <div class="row">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <div class="row">
              <%= f.submit 'Log In', class: "btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= stylesheet_link_tag "devise" %>